# Environment files
.env
.env/*
.env.local
.env.development
.env.production

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor specific
.DS_Store
Thumbs.db
.vscode/

# Build outputs
dist/
build/
coverage/

# Temporary files
*.tmp
*.swp
